
body {
  background: #e8ede8;
}

/* Main font */
body, p {
	font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
	}

h1 {
  color: #000000;
  font-size: 3rem;
  text-align: center;
  font-family: "Allerta Stencil", Sans-serif;
}

p {
  color: #000000;
  font-size: 1rem;
  margin-left: 15em;
  margin-right: 15em;
  padding-bottom: 0.5rem;
}

a {
  color: #000000;
  font-size: 1rem;
  margin-left: 15em;
  margin-right: 15em;
}
